body {
  font-family: "Alumni Sans", sans-serif;
}

select {
  border-radius: 3px;
  font-size: 2vw;
  font-family: "Alumni Sans", sans-serif;
  border: none;
  box-shadow: 1px 1px 2px 0.5px rgb(107, 107, 107);
}

#size_options_container {
  float: right;
  width: 10%;
}
#size_options_container select {
  width: 100%;
}

#speed_options_container {
  float: right;
  width: 20%;
}
#speed_options_container select {
  width: 100%;
}

.menu {
  margin-left: 5px;
}

#controls_container {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 8vw;
  background-color: rgb(255, 255, 255);
  border-radius: 5px 5px 0 0;
}

#sorting_display {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 30vw;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 5px 5px;
}

.bar {
  position: absolute;
  border-radius: 5px 5px 0 0;
  bottom: 0;
  transition: all 0.5s;
  background-color: rgb(0, 89, 255);
  opacity: 0.8;
  box-shadow: 1px 1px 3px 0.5px rgb(107, 107, 107);
}

.btn {
  width: auto;
  height: auto;
  padding: 5px;
  font-size: 2vw;
  background-color: rgb(0, 89, 255);
  opacity: 0.5;
  border-radius: 5px;
  transition: opacity 0.8s;
  float: left;
  text-align: center;
  margin-right: 2%;
  color: white;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #controls_container {
    width: 100%;
    height: 30vw;
  }

  #sorting_display {
    width: 100%;
    height: 100vw;
  }

  select {
    font-size: 8vw;
  }

  #size_options_container {
    width: 15%;
  }

  #speed_options_container {
    width: 25%;
  }

  .btn {
    padding: 5px;
    font-size: 7vw;
    opacity: 0.7;
    margin-right: 2%;
  }
}
